{$PPT_API_DOMAIN} {
	encode zstd gzip
	request_body {
		max_size 110MB
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		-Server
	}

	handle /v1/* {
		reverse_proxy api:8000
	}

	handle /health {
		reverse_proxy api:8000
	}

	handle /docs* {
		reverse_proxy api:8000
	}

	handle /openapi.json {
		reverse_proxy api:8000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
